{% extends 'base.html.twig' %}

{% block title %}Modifier Salon
{% endblock %}

{% block body %}
	<div class="container"><div class="d-flex gap-2 justify-content-start ">
					<a href="{{ path('app_hair_salon') }}" class="btn btn-primary">Annuler</a>
				</div>
		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				<h1 class="text-center mb-4">Modifier Salon</h1>
				
				<form method="POST" action="{{ path('app_hair_salon_edit', {'id': salon.id}) }}" class="p-4">
					{{ form_start(form) }}
					{{ form_widget(form) }}

					{{ form_end(form) }}
				</form>
			</div>

		</div>
	</div>
{% endblock %}
