{% extends 'base.html.twig' %}

{% block title %}Détails du produit{% endblock %}

{% block body %}
<div class="container">
		{% if is_granted('ROLE_PROFESSIONAL') or is_granted('ROLE_PROFESSIONAL_SALON') %}

    <h1 class="text-center m-6">{{ product.name }}</h1>
    <div class="row align-items-center mt-6">
        <div class="col-md-6 mb-2 d-flex justify-content-center">
    <div class="card">
        <img src="{{ asset('upload/images/products/' ~ product.image) }}" class="card-img-top img-fluid w-75 h-100 mx-auto" alt="...">
    </div>
</div>
        <div class="col-md-6 card">
            <div class="mb-3">
                <div>
                    <p><strong>Description :</strong>{{ product.description|striptags }}</p>
                </div>
                
                <p><strong>Quantité :</strong> {{ product.quantity }}</p>
                <p><strong>Prix :</strong> {{ product.price }}</p>
            </div>
           
        </div>
    </div>
   
    <div class="mt-4">
        <a href="{{ path("produits") }}"><button class="btn btn-primary" type="button">Autres Produits</button></a>
        <a href="{{ path('cart_add', { 'id': product.id }) }}"><button class="btn btn-primary" type="button">Ajouter au Panier</button></a>
    </div>
    {% else %}
    <h1 class="text-center m-6">{{ product.name }}</h1>
    <div class="row align-items-center mt-6">
        <div class="col-md-6 mb-2 d-flex justify-content-center">
    <div class="card">
        <img src="{{ asset('upload/images/products/' ~ product.image) }}" class="card-img-top img-fluid w-75 h-100 mx-auto" alt="...">
    </div>
</div>
        <div class="col-md-6 card">
            <div class="mb-3">
                <div>
                    <p><strong>Description :</strong>{{ product.description|striptags }}</p>
                </div>
                
            </div>
           
        </div>
    </div>
   
    <div class="mt-4">
        <a href="{{ path("produits") }}"><button class="btn btn-primary" type="button">Autres Produits</button></a>
    </div>
        {% endif %}
</div>
{% endblock %}
